<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main class="index-content">
        <h2 class="titulo-index">¡Hola, bienvenido!</h2>
        <br>
        <a href="/register" class="links"><button class="buttons">Registro</button></a>
        <a href="/login" class="links"><button class="buttons">Ingresar</button></a>
        <br>
    </main>
</body>
</html>