<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
</head>
<body>
    <H2>Formulario de Login</H2>
    <form action="/" method="POST">
        <br>
        <label for="email">Correo Electronico:</label>
        <input type="email" name="email">
        <br><br>
        <label for="password">Contraseña:</label>
        <input type="password" name="password">
        <br><br>
        <label for="recordar">Recordarme:</label>
        <input type="checkbox" name="recordar" id="recordar">
        <br><br>
        <button type="submit">Ingresar</button>
    </form>
</body>
</html>