* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #C9CBCD;
    background-image: url(/img/home-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
main.create-product-main{
    margin-top: 15px; /* 20px */
    margin-bottom: 40px;
}
.create-form{
    padding: 20px 20px;
    margin: auto;
    background-color: #ebebeb;
    border: solid 2px #323434;
    border-radius: 10px;
}
.control input:focus{
    border: var(--verdeagua) 1px solid;
}

form.create-form{
    background-color: #323434;
    margin: 0px 20px;
    /* margin-left: 20px;
    margin-right: 20px; */
}
.titulo-create{
    padding: 8px 0px 0px 20px;
    color: white;
}
.titulo-create h3{
    font-size: 18px;  /* 22px */
    margin-top: 5px;
    margin-bottom: 12px;
}
.control-form{
    margin-bottom: 15px;
    width: 100%;
    /* border: solid 10px green; */
}  
.control-form label {
    color: white;
    margin-bottom: 10px;
    display: block;
    font-size: 15px;
    font-weight: 600;
}
.control-form input{
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-left: 10px;
}
.control-form textarea{
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
}
.control-form select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    background-color: white;
    text-overflow: ellipsis;
}
.control-form select:required:invalid {
    color: #666;
}
.control-form option[value=""][disabled] {
    display: none;
}
.control-form option {
    color: #000;
}
.control{
    width: 100%;
    height: 40px;
}
.control-form-container{
    /* align-items: center;
    align-content: center; */
    width: 100%;
}
.text-danger{
    color: red;
    margin-top: 6px;
    padding-left: 0px;
}
.control-buttons{
    /* border: solid 1px yellow; */
    text-align: center;
}
.create-button button{
    margin-top: 20px;
    border: none;
    width: 90%;
    height: 65px;
    border-radius: 15px ;
    font-weight: bold;
    font-size: 16px; /* 20px */
    background-color: #04C58D;
}
.cancel-button button{
    /* border: solid 1px blue; */
    border: none;
    margin-top: 20px;
    width: 35%;
    height: 65px;
    border-radius: 15px ;
    color: #C77C91;
    font-size: 16px;    /* 20px */
    background-color: #323434;
}

.create-button button:hover{
 background-color: #0084CC;
 color: white;  
}

.cancel-button button:hover{
    background-color: #912644;
    color: black;  
    font-weight: bold;
}

@media (min-width: 481px) { 
    .titulo-create{
        text-align: center;
    }
    .create-button button{
        width: 70%;
    }    
}
@media (min-width: 769px) { 
    form.create-form{
        margin: auto;
        width: 50%;
        
    }   
    .create-button button{
        width: 60%;
    } 
}
@media (min-width: 1280px) { 
    .create-form{
        width: 50%;
    }    
}