* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #C9CBCD;
    background-image: url(/img/home-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
nav{
    height: 80px;
    background-color: rgb(245, 246, 247, .8);
}

h2{
    line-height: 80px;
    display: inline-block;
    margin-left: 40px;
    color: rgb(52, 58, 64);
}
ul{
    float: right;
    margin-right: 40px;
    list-style: none;
}
ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

ul li a{
    text-decoration: none;
    font-weight: lighter;
    color: rgb(52, 58, 64);
}
ul li a i{
 font-size: 28px;
}

ul li a:hover{
    color: rgb(49, 112, 175);
    font-weight: 600;
}

label #btn,
label #close{
    color: #343A40;
    font-size: 20px;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

main p{
    font-weight: 600;
    color: #C9CBCD;
    text-align: center;
    width: 100%;
    margin-top: 60px;
}
main p a:hover{
    color: rgb(49, 112, 175);
}
main p a{
    text-decoration: none;
    
    color: #C9CBCD;
}
main p a i{
    font-size: 28px;
}

/* Los de profile */
.main-profile{
    text-align: center;
}
.main-profile h3, div{
    color: white;
}

.logout-button button{
    margin-top: 60px;
    border: none;
    width: 15%;
    height: 50px;
    border-radius: 15px ;
    font-weight: bold;
    color: rgb(245, 246, 247, .8);
    font-size: 14px;
    background-color: #912644;
}

.logout-button button:hover{
    background-color: #780828;
    color: white;  
    font-weight: bold;
}

/* Profile dropdown*/
/* Dropdown Button */
.dropbtn {
    background-color: #C9CBCD;
    color: #343A40; 
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    border: none;
    text-align: right;
    /* border: 1px solid yellow; */
    line-height: 22px;
    width: 140px;
  }
  .dropbtn img{
    width: 28px;
    color: #343A40;
    position: absolute;
    left: 4px;
    top: 22.5px;
  }
  .dropbtn i{
      margin-left: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    line-height: 40px;
    margin: auto;
    display: none;
    position: absolute;
    background-color: #dadbdc;
    min-width: 20vh;
    /* height: 120px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #b0b5ba;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      color: rgb(49, 112, 175);
      font-weight: 600;
    }

@media (max-width: 992px){
    label #btn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        margin-right: 0;
        right: -100%;
        top: 80px;
        background-color: #C9CBCD;
        text-align: center;
        transition: .5s;
    }
    ul li{
        display: block;
        line-height: 10px;
        margin: 50px;
    }
    #check:checked ~ ul{
        right: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ p{
        display: none;
    }
    #check:checked ~ label #close{
        display: block;
    }
}